body {
    background: #2e3842;
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 15pt;
    letter-spacing: 0.075em;
    line-height: 1.75em;
}

h1, h2 {
    color: white;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;  
}

h3, h4, h5, h6 {
    color: #2e3842;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    color: #2e3842;
}

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */
#header {
    transition: background-color 0.2s ease;
	background: #2e3842;
	height: 3em;
	left: 0;
	line-height: 3em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

    #header h1 {
        color: white;
        text-decoration: none;
        transition: opacity 0.2s ease;
	    height: inherit;
	    left: 1.25em;
	    line-height: inherit;
	    position: absolute;
	    top: 0;
    }
        
        #header h1 a {
            border: 0;
            display: block; 
            height: inherit;
            line-height: inherit;
        }

        #header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 0;
            top: 0;
        }     

header nav a {
    margin-right: 50px;
}

/* MAIN */
    #main > header {
        padding: 12em 0 10em 0;
        background-image: url("../img/banner.jpg");
        background-attachment: fixed;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    text-align: center;
    }

    #main > header h2 {
        font-size: 1.75em;
        margin: 0 0 0.5em 0;
    }

    #main > header p {
        color: inherit;
        letter-spacing: 0.225em;
        text-transform: uppercase;
        top: 0;
    }

    #main-box {
        background-color: white;
        color:#2e3842; 
        display: flex;
        font-size: 14px;
        font-weight: 400px;
    }

        #main-box .main-text {
            padding-top: 175px;
            padding-bottom: 125px;
            padding-left: 100px;
            padding-right: 100px;
        }

    img { 
        width: 700px;
        margin-left: 50px;
    }

    code {
        color: #2e3842;
        background: #dce0e6;
        padding: 5px;
    }

    #skills {
        display: flex;
        background: white;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 200px;
        width: 1000px;
    }

        #skills .skill-box {
            width: 100%;
            padding-top: 50px;
            text-align: center;
            border-left: 1px solid #2e3842;
        }

            #skills .skill-box p {
                font-size: 16px;
                line-height: 1.25em;
                padding: 25px;
            }

            #skills .fas {
                color: #2e3842;
                font-size: 36px;
                margin-bottom: 25px;
            }

/* FOOTER */
#footer {
    padding: 6em 0 4em 0 ;
    background-color: #2e3842;
    text-align: center;
    display: flex;
    justify-content: center;
}
    #footer p {
        color: white;
    }
    #footer .icon {
        font-size: 24px;
        padding-right: 24px;
        line-height: 1em;
    }